@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.add-title{
    color:blue;
    position: absolute;
    bottom: 12em;
    left: 4em;
    font-family: 'Fira Sans', sans-serif;
}