@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}
#login-body {
  background-image: url("../img/bg4.jpg");
  background-size: cover;
  min-height: 91vh;
  width: 100%;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
.login-formContainer{
    background-color: white;
    margin: 2vh 0;
    display: flex;
    width: 35%;
    max-width: 35vw;
    min-width: 220px;
    min-height: 75vh;
    border-radius: 2em;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 55%;
    top: 2em;
}
form{
    padding: 0;

}



@media screen and (max-width:640px){
  #login-body{
    display: flex;
    align-items: center;
  }
  .login-formContainer{
    max-height: 45vh;
    min-width: 262px;
    position: relative;
    left: 10%;
  }
}