@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}
body {
  background-image: url("../img/bg4.jpg");
  background-size: cover;
  /* min-height: 80vh; */
  height: 100%;
  display: flex;
  font-weight: 400;
  /* overflow: hidden; */
  font-family: 'Fira Sans', sans-serif;
}
#form-container{
    background-color: white;
    margin: 4em auto;
    display: flex;
    width: 30em;
    height: 27em;
    border-radius: 2em;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
    left: 15em;
}
form{
    padding: 0;

}